@font-face {
    font-family: DanaFaNum;
    font-style: normal;
    font-weight: 700;
    src: url('~assets/fonts/dana-fa-num/eot/DanaFaNum-Regular.eot');
    src: url('~assets/fonts/dana-fa-num/eot/DanaFaNum-Regular.eot?#eot') format('embedded-opentype'),
    url('~assets/fonts/dana-fa-num/woff2/DanaFaNum-Bold.woff2') format('woff2'),
    url('~assets/fonts/dana-fa-num/woff/DanaFaNum-Bold.woff') format('woff'),
    url('~assets/fonts/dana-fa-num/ttf/DanaFaNum-Bold.ttf') format('truetype');
}

@font-face {
    font-family: DanaFaNum;
    font-style: normal;
    font-weight: 600;
    src: url('~assets/fonts/dana-fa-num/eot/DanaFaNum-Regular.eot');
    src: url('~assets/fonts/dana-fa-num/eot/DanaFaNum-Regular.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/dana-fa-num/woff2/DanaFaNum-DemiBold.woff2') format('woff2'),
    url('~assets/fonts/dana-fa-num/woff/DanaFaNum-DemiBold.woff') format('woff'),
    url('~assets/fonts/dana-fa-num/ttf/DanaFaNum-DemiBold.ttf') format('truetype');
}

@font-face {
    font-family: DanaFaNum;
    font-style: normal;
    font-weight: 500;
    src: url('~assets/fonts/dana-fa-num/eot/DanaFaNum-Regular.eot');
    src: url('~assets/fonts/dana-fa-num/eot/DanaFaNum-Regular.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/dana-fa-num/woff2/DanaFaNum-Medium.woff2') format('woff2'),
    url('~assets/fonts/dana-fa-num/woff/DanaFaNum-Medium.woff') format('woff'),
    url('~assets/fonts/dana-fa-num/ttf/DanaFaNum-Medium.ttf') format('truetype');
}

@font-face {
    font-family: DanaFaNum;
    font-style: normal;
    font-weight: 400;
    src: url('~assets/fonts/dana-fa-num/eot/DanaFaNum-Regular.eot');
    src: url('~assets/fonts/dana-fa-num/eot/DanaFaNum-Regular.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/dana-fa-num/woff2/DanaFaNum-Regular.woff2') format('woff2'),
    url('~assets/fonts/dana-fa-num/woff/DanaFaNum-Regular.woff') format('woff'),
    url('~assets/fonts/dana-fa-num/ttf/DanaFaNum-Regular.ttf') format('truetype');
}
