.icon {
    display: inline-block;
    vertical-align: middle;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-google {
    background-image: url('~/assets/icons/ic-google.svg');
}

.icon-checkbox-on-light {
  background-image: url('~assets/icons/ic-checkbox.svg');
}

.icon-hint {
  background-image: url('~assets/icons/ic-hint.svg');
}

.icon-user {
  background-image: url('~assets/icons/ic-user.svg');
}

.icon-left {
  background-image: url('~assets/icons/ic-left.svg');
}

.icon-copy-trade {
  background-image: url('~assets/icons/ic-copy-trade.svg');
}

.icon-intelligent-signal {
  background-image: url('~assets/icons/ic-intelligent-signal.svg');
}

.icon-robot-trade {
  background-image: url('~assets/icons/ic-robot-trade.svg');
}

.icon-trade-dashboard {
  background-image: url('~assets/icons/ic-tarde-dashboard.svg');
}

.icon-15 {
    width: 15px !important;
    height: 15px !important;
}

.icon-20 {
    width: 20px !important;
    height: 20px !important;
}

.icon-22 {
    width: 22px !important;
    max-height: 22px !important;
}

.icon-24 {
    width: 24px !important;
    height: 24px !important;
}

.icon-32 {
  width: 32px !important;
  height: 32px !important;
}

.icon-50 {
  width: 50px !important;
  height: 50px !important;
}
