@import '~vuetify/src/styles/settings/_variables';
@import '~vuetify/src/styles/styles.sass';

// Global
$body-font-family: 'DanaFaNum';

// Primary Colors
$primary: #CDA876;
$text1: #30353B;
$text2: #848E9B;
$blueGray: #83A3B3;

// Secondary Colors
$secondary: #1F3C5C;
$white: #fff;
$black: #000;
$gray: #ccc;
$darkYellow: #FFCA28;
